/* サインアップ/ログイン画面のCSS */

.auth-wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navy_blue);
  font-family: "Abril Fatface", cursive;
  font-family: "League Spartan", sans-serif;
}

.auth-container {
  width: 95%;
  height: 95%;
  margin: auto;
  border-radius: 10px;
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  background-color: var(--snow);
  border: 3% solid var(--navy_blue);
}

.auth-form-wrapper {
  width: 50%;
  flex-grow: 1;
  padding: 1rem 0 1rem 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.auth-main-pic {
  height: 100%;
  border-radius: 0 10px 10px 0 / 0 10px 10px 0;
}

.auth-mobile-pic {
  display: none;
}

.auth-logo {
  height: 80px;
  position: absolute;
  top: 0.5rem;
  left: 2rem;
}

.auth-logo > img {
  height: 100%;
  width: auto;
  border-left: solid 12px var(--navy_blue);
  padding-left: 10px;
}

.auth-logo > p {
  display: contents;
}

.auth-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-title {
  color: var(--navy_blue);
  margin-bottom: 0;
  margin: 0;
  font-weight: 900;
  font-size: 48px;
  z-index: 100;
  margin-bottom: 2rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 60%;
  width: 70%;
  margin: auto;
}

.auth-form.signup {
  padding-top: 40px;
}

.auth-form > div {
  width: 100%;
  margin-bottom: 1rem;
}

.auth-form input {
  border: solid 2px lightgrey;
  outline: none;
  margin-bottom: 10px;
  line-height: 32px;
  width: 100%;
  padding: 0.2rem 1rem;
}

.auth-form input::placeholder {
  color: lightgrey;
}

.auth-form input:focus {
  border: 2px var(--navy_blue) solid;
  background-color: var(--navy_blue);
  color: var(--snow);
}

.auth-form label {
  font-size: 12px;
  color: var(--navy_blue);
}

.auth-button {
  width: 100%;
  margin-bottom: 12px;
}

.switch-auth-mode {
  color: grey;
  line-height: 28px;
  font-size: 14px;
  border-bottom: solid 2px lightgrey;
  padding: 0.5rem 2rem 0 2rem;
}

.switch-auth-mode:hover {
  color: var(--navy_blue);
}

.flashes {
  margin: 0;
  padding-inline-start: 0;
  text-align: center;
  font-size: 18px;
  color: rgb(198, 8, 8);
}

/* ========================================================== */
/* レスポンシブ */

@media screen and (max-width: 639px) {
  .auth-container {
    flex-direction: column-reverse;
    gap: 0;
  }
  .auth-form-wrapper {
    width: 100%;
    padding: 0;
  }
  .auth-form {
    padding-top: 80px;
    min-height: 0;
  }
  .auth-main-pic {
    display: none;
  }
  .auth-mobile-pic {
    display: block;
    height: 25%;
  }
  .auth-button {
    margin-bottom: 0;
  }

  .auth-form input {
    line-height: 20px;
    font-size: 14px;
  }
  .auth-form.signup {
    padding-top: 60px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .auth-container {
    flex-direction: column-reverse;
    gap: 0;
  }
  .auth-form-wrapper {
    width: 100%;
    padding: 0;
  }
  .auth-form {
    padding-top: 80px;
  }
  .auth-main-pic {
    display: none;
  }
  .auth-mobile-pic {
    display: block;
    height: 25%;
  }
}

@media screen and (min-width: 1360px) {
  .auth-container {
    width: 70%;
  }
}
